@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    padding: 0px;
    margin: 0px;
}
.text-center{
    text-align: center;
}

p{
    font-size: 16px;
    opacity: .7;
}

/* banner section */
.banner{
    background-image: url(Hero-bg.png);
    height: 652px;
    max-width: 1440px;
    margin: 0px auto; 
}
.banner-content{  
    margin: 0px auto;
    width: 998px;
    padding-top: 40px;
    padding-bottom: 45px;
}
.banner img{
    display: block;
    width: 240px;
    text-align: center;
    margin: 26px auto 26px;
}
.banner h1{
    font-size: 48px;
    font-weight: bolder;
}
.banner p{
    padding: 24px 80px;
}
.banner a{
    display: block;
    margin: 10px auto;
}
.banner button{
    width: 244px;
    height: 65px;
    border-radius: 10px;
    
    background-color: #0D1321;
    color: #fff;
    font-size: 20px;
    font-weight: 500px;
    cursor: pointer;
}

/* web_development section */
.web_development{
    max-width: 1140px;
    height: 1393px;
    background-color: #c9c9ce17;
    margin: 74px auto;
    padding:80px 97px;
    box-sizing: border-box;
}

.web_development h2 {
    font-size: 32px;
    font-weight: 800px;
    color: #0D1321;
}
.web_development > p {
    margin: 20px 45px 45px 45px;   
}

.div1, .div2, .div3 {
    width: 850px;
    height: 240px;
    padding: 48px;
    background-color: #fff;
    border-radius: 16px;
    margin: 0px auto 32px;
    display: flex;
    justify-content: space-between;
    
}
.small-div{
    width: 477px;
}
h3{
    font-size: 24px;
    opacity: .7;
}
.small-div p{
    padding: 20px 0px;
}
.small-div button{
    width: 171px;
    height: 47px;
    font-size: 20px;
    background-color: #fff;
    border-color: #0d132131;
    cursor: pointer;
}